page-login {


  .loginform {

    padding:20px;

  }

  .loginform  img {

    display: block;
    margin:  15px auto;
  }

  .list-md .item-input:last-child {
    border: none !important;
  }

  .imagecontainer {
    margin-bottom: 20px;
  }

  .center {

    text-align: center;
  }

}
